:root{
	--bg: #DDFFE1;
	--fg:#24273a;
	--muted:#666;
	--card: #F7FFF9;
	--accent:#a6e3a1;
	--danger:#ff326c;
	--mono: Iosevka, ui-monospace, monospace;
}
html,body{height:100%;}
body{
	margin:0;
	background:var(--bg);
	color:var(--fg);
	font:16px/1.5 Ubuntu, -apple-system, sans-serif;
}
.wrap{max-width:1100px;margin:40px auto; 
padding:0 16px 60px;}

h1{font-weight:700;margin:0 0 6px;font-size:clamp(26px,3vw,34px);text-align:center;} 

.card{
	background:var(--card);
	border:1px solid #ddd;
	border-radius:5px;
	padding:10px;
    margin:auto;
}

.small{
    width:25em;}

.card h2{margin:0 0 12px;font-size:18px}
.hidden{
display: none;}

label{
	display:block;
	margin:10px 0 6px;
	color:var(--muted);
	font-size:13px;
}

input[type="text"], input[type="number"], textarea, select{
	width:100%;
	padding:10px 12px;
	border-radius:5px;
	border:1px solid #ccc;
	background:#f8fcf7;
	color:var(--fg);
	font-family:var(--mono);
}

.idk{
	width:20em;
	margin: 0 auto;
	text-align: left;
}

.btn{
	appearance:none;
	border:1px solid var(--accent);
	background:var(--accent);
	color:black;
	padding:10px 14px;
	border-radius:5px;
	font-weight:600;
	cursor:pointer;
}

.btn:disabled{
	opacity:.5;
	cursor:not-allowed;
}

.kpi{display:flex;gap:16px;flex-wrap:wrap}
.pill{
	padding:6px 10px;
	border-radius:999px;
	background:#eee;
	border:1px solid #ddd;
	font-family:var(--mono);
	font-size:12px;
	color:var(--muted);
}

.muted{color:var(--muted)}
.mono{font-family:var(--mono)}
.clash{color:var(--danger)}

.table-wrap{
	max-height:420px;
	overflow:auto;
	border-radius:8px;
	border:1px solid #ddd;
}
table{
	width:100%;
	border-collapse:collapse;
	font-family:var(--mono);
	font-size:13px;
}
th,td{
	padding:10px 12px;
	border-bottom:1px solid #eee;
}
th{
	position:sticky;
	top:0;
	background:#fafafa;
	text-align:left;
}
tr:hover td{
	background:#f2f2f2; /**/
}
.winner{
	font-size:20px;
	font-weight:700;
	letter-spacing:.3px;
}
.hint{font-size:12px;color:var(--muted)}

.code{
	white-space:pre-wrap;
	background:#f0f0f0;
	border-radius:8px;
	padding:10px;
	border:1px solid #ddd;
}

/*.center{
margin: auto;} it refuses to work so <center> will do*/

.tab {
margin-left: 20px;
}

.rafsi{
	font-size:18px;}
