name: gismu updater

on:
  schedule:
    - cron: '0 0 * * 0' #every sunday 00:00
  workflow_dispatch:
permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r script/requirements.txt
      - name: Run script
        run: |
          python script/gismufinder.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git diff --cached --quiet || git commit -m "dictionary update (automatic)"
          git push
